<div class="main-content">
	<div class="app-body " >
		<header class="bg-white style1">
						<div class="row">
							<div class="col-sm-4 text-left">
								<a routerLink="" class="mt-1 back-btn"><i class="ti-angle-left"></i></a>
			                </div>
			            
		                </div>
					</header>
		<div class="row">
			<div class="col-sm-12">
				<div class="card" style="border:  0px;">
					<div class="card-body  text-center">							 		<label class="switch float-right mt-2 mb-0" for="checkbox1">
									    <input type="checkbox" id="checkbox1" checked="">
									    <span class="slider round"></span>
									</label>
						<img src="{{this._uw.imagePreviewProduct}}" alt="">			
					</div>
					
					<div class="app-body pl-4 pr-4 pt-3 pos-top">
						<ul class="menu-item list-inline tooltrip-div">
							<li class="list-inline-item p-3">
								<div class="switch-box w100 d-flex justify-content-between toggle-primary">
									<h6>{{this._uw.tixPreview.productName}}</h6>
									
								</div>
							</li>
							<li class="list-inline-item p-3">
								<div class="switch-box w100 d-flex justify-content-between toggle-primary">
									<h6>{{this._uw.tixPreview.description}}</h6>
									<label class="switch float-right mt-2 mb-0" for="checkbox1">
									   
									</label>
								</div>
							</li>
							<li class="list-inline-item p-3">
								<div class="switch-box w100 d-flex justify-content-between toggle-primary">
									<h6>{{this._uw.tixPreview.globalPrice}}</h6>
									
								</div>
							</li>
							<!-- <li class="list-inline-item p-3">
								<div class="switch-box w100 d-flex justify-content-between">
									<h6>{{this._uw.tixPreview.status}}</h6>
									<label class="switch float-right mt-2 mb-0" for="checkbox1">
									    <input type="checkbox" id="checkbox1" checked="">
									    <span class="slider round"></span>
									</label>
								</div>
							</li> -->

						</ul>
					</div>
				</div>
			<!-- 	<div class="fab">
				    <div class="option reply"><i class="ti-pencil"></i></div>
				    <div class="option love"><i class="ti-world"></i></div>
				    <div class="option delete"><i class="ti-trash"></i></div>
				    <div class="close"><i class="ti-close"></i></div>
				</div> -->
			</div>
		</div>
	</div>
</div>