   <div class="main-content"  >
                <div class="app-body pr-4 pl-4 pt-2">
                    <div class="row">
                        <div class="col-sm-12 pt-0">
                            <ul class="chat-list">
                                <li class="chat-list-item">
                                   <figure class="avatar user-online">
                                        <span class="avatar-title bg-success rounded-circle">N</span>
                                    </figure>
                                    <div class="list-body">
                                        <div class="chat-bttn">
                                            <h3 class="mb-0 mt-2">patriciaaponte@gmail.com</h3>
                                            <p>$ USD 230</p>
                                        </div>
                                        <div class="list-action mt-2 text-right">
                                            <div class="message-count bg-success">3</div>
                                            <small class="text-success">03:41 PM</small>
                                        </div>
                                    </div>
                                </li>
                                    <li class="chat-list-item">
                                    <figure class="avatar user-online">
                                        <span class="avatar-title  rounded-circle">N</span>
                                    </figure>
                                    <div class="list-body">
                                        <div class="chat-bttn">
                                            <h3 class="mb-0 mt-2">davidlover@gail.com</h3>
                                            <p>$ USD 600</p>
                                        </div>
                                        <div class="list-action mt-2 text-right">
                                            <small>03:41 PM</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>          
            </div>