



<div class="main-content">




	
	<!-- loader wrapper -->
<!-- 	<div class="preloader-wrap p-3">
		<div class="box shimmer">
			<div class="lines">
				<div class="line s_shimmer"></div>
				<div class="line s_shimmer"></div>
				<div class="line s_shimmer"></div>
				<div class="line s_shimmer"></div>
			</div>
		</div>
		<div class="box shimmer mb-3">
			<div class="lines">
				<div class="line s_shimmer"></div>
				<div class="line s_shimmer"></div>
				<div class="line s_shimmer"></div>
				<div class="line s_shimmer"></div>
			</div>
		</div>
	</div> -->
	<!-- loader wrapper -->

	<div class="app-body p-4">
		<div class="row">
			<div class="col-sm-12 mb-4" style="position: fixed;z-index: 9999999;margin-top: -15px;margin-bottom: 15px;background-color: #fff;padding-top: 15px;">
				<div class="owl-carousel owl-theme shop-categoris vis-slider" style="width:120%; height: 90px;" >
					<div class="item" *ngFor="let category of this._uw.categorys"><a href="#">
						<img src="{{category.images[0]}}" >
						<h4>{{category.Name}}</h4></a>
					</div>
					<!-- <div class="item"><a href="#"><img src="assets/assetsadmin/images/cat-round-1.png" alt="cat" ><h4>Women</h4></a></div>
								<div class="item"><a href="#"><img src="assets/assetsadmin/images/cat-round-2.png" alt="cat"><h4>Men</h4></a></div>
								<div class="item"><a href="#"><img src="assets/assetsadmin/images/cat-round-3.png" alt="cat"><h4>Accessories</h4></a></div>
								<div class="item"><a href="#"><img src="assets/assetsadmin/images/cat-round-4.png" alt="cat"><h4>Shoes</h4></a></div>
								<div class="item"><a href="#"><img src="assets/assetsadmin/images/cat-round-5.png" alt="cat"><h4>Sunglass</h4></a></div>
								<div class="item"><a href="#"><img src="assets/assetsadmin/images/cat-round-6.png" alt="cat"><h4>Belt</h4></a></div>
								<div class="item"><a href="#"><img src="assets/assetsadmin/images/cat-round-1.png" alt="cat"><h4>Women</h4></a></div> -->
					
				</div>
			</div>

		 	<div class="col-sm-12">
		 		<ul class="shop-item pl-0" style="margin-top: 120px;">
					<li  *ngFor="let tix of tixs" >
						<a    (click)="viewProduct(tix)" >
							<img src="{{tix.images[0]}}" alt="banner" style="border-radius: 15px;">
						</a>
						<h4 style="font-size: 14px;">{{tix.productName}} </h4>

						<span style="font-size: 15px;">BsS. {{tix.globalPrice  |  number:'1.0-0' }} </span>
					</li>				 			
		 		</ul>
		 	</div>
		</div>
	</div>	
</div>		
<!-- 	<script type="text/javascript">
$(document).ready(function() {
            $('.shop-item .list-product').on('click', function() {
                $('.chat-content').addClass('mobile-active');
                return false;
                });
            }      
    </script> -->